.crear{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    background-color: rgb(224, 224, 224);
    padding: 10px 20px;
    margin: 10px 40px;
    border-radius: 10px;
    border: 1px solid rgb(146, 147, 150);
}

.crear__opciones{
    
}