.sidebar{
    position: fixed;
    border-right: 1px solid rgb(216, 217, 226);
    width: 258px;
    background-color: rgb(253, 252, 255);
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    align-items: center;
    padding-top: 110px;
}

.sidebar__options{
    font-size: 20px;
    margin: 30px 10px 30px 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.sidebar__options:hover{
    padding-left: 28px;
    padding-right: 28px;
    color: rgb(96, 94, 91);
    border-left-style: solid;
}

.side{
    position: fixed;
    bottom: 0;
    padding-left: 40px;
    padding-bottom: 10px;
    font-size: 14px;
    color: rgb(76, 124, 141);
}